.form-container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  margin-right: 1.875rem;
  flex-direction: column;
}

.signup-form{
  display: flex;
  background-color: #f2f2f2;
  flex-direction: column;
  align-items: center;
  width: 28.125rem;
  height: 40.625rem;
  border-radius: 1.25rem;
  padding: 3.125rem;
  gap: 1.875rem;
}

.main-button{
  font-weight: bold;
  display: flex;
  position: relative;
  bottom: 1rem;
  display: flex;
  position: relative;
  bottom: 1rem;
  color: white;
  background-color: #105F74;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
  gap: 0.625rem;
  border-radius: 0.5rem;
  width: 25rem;
  height: 3.0625rem;
}

.form-container button{
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.label-input{
  display: flex;
  flex-direction: row;
  color: #9c9d9f;
  size: 1rem;
  width: 25rem;
  height: 9.375rem;
  position: relative;
  border-radius: 0.375rem;
  text-align: center;
  align-items: center;
}

.label-input input{
  color: #46494C80;
  top: 0.3125rem;
  width: 100%;
  height: 3.125rem;
  padding-left: 0.9375rem;
  font-size: 1rem;
  border: 0.0625rem solid #222;
  border-radius: 0.375rem;
  border-radius: 0.25rem;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.label-input label{
  background-color: #f2f2f2;
  color: #222222;
  position: absolute;
  top: -0.625rem;
  left:0.625rem;
  padding: 0 0.3125rem;
  font-size:0.75rem;
}

.label-input img{
  position: absolute;
  left: 22.6875rem;
  width: 1.5rem;
  height: 1.5rem;
}

h2{
  size: 1.5rem;
  position: relative;
  text-align: center;
}

.logo{
  display: flex;
  position: relative;
  gap: 15%;
  width: 18.3125rem;
  height: 19rem;
}

.term-checkbox{
  position: relative;
  text-align: center;
  size: 1rem;
}

.term-checkbox input{
  border: 0.1875rem solid black;
}

.terms u{
  color: #105f74;
}

.password::placeholder{
  font-size: 60%;
  color: #9c9d9f;
  justify-self: center;
  position:relative;
  bottom: 0.125rem;
}

.change-to-login{
  display: flex;
  position: relative;
  color: #105F74;
  text-decoration: none;
  font-weight: bold;
  bottom: 3.75rem;  
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

body {
  margin-top: 8.03125rem;
  margin-bottom: 8.03125rem;
  font-family: "Inter", sans-serif;
  background-color: #181b24;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

@media screen and (max-width: 47.9375rem){
  h2{
    position: relative;
    top: 0;
    margin-bottom: 0;
  }

  .signup-form > p{
    display: none;
  }

  .label-input input{
    color: #46494C80;
    top: 0.3125rem;
    width: 70%;
    height: 2.8125rem;
    padding-left: 0.9375rem;
    font-size: 1rem;
    border: 0.0625rem solid #222;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    box-sizing: border-box;
  }

  .label-input label{
    background-color: #f2f2f2;
    color: #222222;
    position: absolute;
    top: -0.5625rem;
    left: 4.0625rem;
    font-size:0.75rem;
  }

  .label-input img{
    position: absolute;
    left: 18.75rem;
    width: 1.875rem;
    height: 1.875rem;
  }

  .label-input{
    height: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    padding-bottom: 0;
    justify-self: center;
    bottom: 0.125rem;
  }

  .images{
    position: fixed;
    align-items: center;
    display: inline-flex;
    padding: 1.625rem 2rem 0rem 2rem;
    flex-direction: column;
    align-items: center;
    top: 0rem;
  }

  .logo{
    z-index: -1;
    z-index: -1;
    position: fixed;
    top: 0;
    align-self: 0;
    display: flex;
    padding: 1.625rem 2rem 0rem 2rem;
    flex-direction: column;
    align-items: center;
    width: 6.25rem;
    height: 6.25rem;
    gap: 0.625rem;
  }

  .form-container{
    position: relative;
    top: 0rem;
    width: 20.3125rem;
    height: 23.4375rem;
    border-radius: 1.125rem;
    background: #F4F4F4;
    padding: 0;
    margin: 0;
  }
  
  .cadastro{
    color: #222;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .signup-form{
    width: 100%;
    height: 100%;
    margin-top: 8.125rem;
    padding: 0rem 0.8125rem 13.25rem 0.8125rem;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181B24;
    font-family: "Inter", sans-serif;
    margin: 12.5rem 2rem 7.5625rem 2rem;
  }

  .main-button{
    width: 13.75rem;
    height: 2.8125rem;
    margin-top: 2.25rem;
    text-align: center;
    vertical-align: center;
    text-align: center;
    vertical-align: center;
  }

  .change-to-login{
    position: relative;
    bottom: 2.5rem;
  }
  
  .terms-mobile{
    display: flex;
    color: black;
    position: relative;
    bottom: 5rem;
    size: 0.75rem;
    font-size: 0.75rem;
  }
  
  .terms-mobile u{
  color: #105f74;
  }

  .term-checkbox{
    position: relative;
    top: 0.4375rem;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
  }

  label-input input::placeholder{
    position: relative;
    top: 0.625rem;
  }

  .term-checkbox{
    position: relative;
    top: 0.4375rem;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
  }

  label-input input::placeholder{
    position: relative;
    top: 0.625rem;
  }

  input::placeholder{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding-top: 10%;
    opacity: 50%;
  }


  input[type="password"]::placeholder{
    color: #525252;
    opacity: 1;
  }
} 
